.liste-container,
.insertion {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Poppins regular;
    width: 500px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.liste-container form,
.insertion form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.liste-item {
    margin: 10px auto;
}

.liste-container .liste-item input,
.insertion form input {
    width: 90%;
    border: 1px solid lightgray;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
}

.liste-container .liste-item {
    display: flex;
    flex-direction: column;
}

.liste-container .liste-item select {
    width: 90%;
    border: 1px solid lightgray;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
}

.liste-container .liste-item select,
.liste-container .liste-item input {
    width: 400px;
}

.liste-container button,
.insertion form button {
    width: 30%;
    margin: 20px;
    padding: 10px 15px;
    border: none;
    background-color: var(--third-color);
    outline: none;
    color: white;
    font-family: Poppins regular;
    border-radius: 5px;
}

.liste-container button:hover,
.insertion form button:hover{
    cursor: pointer;
}

.titre {
    margin: 15px 5px;
    font-weight: bold;
    font-family: Roboto regular,sans-serif;
    text-transform: uppercase;
}

.erreur {
    background-color: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
    padding: 10px;
    font-size: 13px;
}